#root {
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
  background-image: url(/src/assets/fish-market2.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}

.fish-store-container{
  opacity: 0.95;
}
