@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: 'Malvery';
  src: url('./assets/fonts/MalveryRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MalveryOutline';
  src: url('./assets/fonts/MalveryOutline.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}